.page1 {
    background-color: #e8d245;
}

.navbar {
    position: fixed;
    top: 3%;
    right: 0;
    margin-right: 3%;
    margin-top: 1%;
    color: #000;
    z-index: 1000;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

.logo {
    position: fixed;
    top: 5%;
    left: 3%;
    z-index: 1000;
}

.bg-1 {
    position: absolute;
    top: 0;
    left: 0;
}

.bg-2 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.ufo {
    position: absolute;
    bottom: 15%;
    left: 20%;
}

.pet {
    position: absolute;
    top: 27%;
    left: 15%;
}

.tea {
    position: absolute;
    bottom: 35%;
    right: 22%;
}

.gua {
    margin-top: 15%;
}

.page2 {
    background-color: #ffffff;
}

.text-box {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.h2 {
    position: absolute;
    bottom: 20%;
    left: 37%;
    font-size: x-large;
    letter-spacing: 3px;
}

.h3 {
    position: absolute;
    top: 45%;
    left: 14%;
    font-size: large;
    letter-spacing: 1px;
}

.h4 {
    position: absolute;
    bottom: 28%;
    right: 18%;
    font-size: large;
    letter-spacing: 1px;
}

.star {
    position: absolute;
    top: 9%;
    left: 37%;
    animation: rotate 2.5s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.star2 {
    position: absolute;
    top: 15%;
    left: 35%;
    animation: rotate 2.5s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.bubble {
    position: absolute;
    top: 25%;
    right: 29%;
    opacity: 0;
	animation: fadeIn 1.7s ease-in-out infinite;
    animation-delay: 500ms;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.bubble2 {
    position: absolute;
    top: 30%;
    right: 31.5%;
    opacity: 0;
	animation: fadeIn 1.7s ease-in-out infinite;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.page3 {
    background-color: #E46B6B;
}

.row-4 {
    height: 1000px;
    background-color: #e8d245;
}

.row-3 {
    height: 150px;
}

.row-2 {
    height: 80px;
}

.bg-3 {
    position: absolute;
    top: 0%;
    left: 0;
}

.bg3-1 {
    position: absolute;
    bottom: 0;
    left: 0;
}

.bg3-2 {
    position: absolute;
    top: -1%;
    right: 0;
}

.bg-4 {
    position: absolute;
    top: 10%;
    right: 0;
}

.other {
    margin-top: 5%;
    margin-bottom: 3%;
}

.image {
    transition: transform 0.3s;
}

.image:hover {
    transform: scale(1.2);
}

.page4 {
    background-color: #367A2D;
}

.artwork1 {
    margin-top: 5%;
    height: 95%;
}

.page5 {
    background-color: #e8d245;
}

.light {
    position: absolute;
    top: 4%;
    left: 27%;
    animation: fadeIn 1.7s ease-in-out infinite;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.bg-5 {
    position: absolute;
    top: 0;
    left: 0;
}

.bg5-1 {
    position: absolute;
    bottom: 0;
    left: 0;
}

.bg-6 {
    position: absolute;
    right: 0;
    bottom: 30%;
}

.bg-7 {
    position: absolute;
    left: 0;
    bottom: 0;
    size: 100%;
}

.gua01 {
    position: absolute;
    left: 0;
    top: 17%;
}

.jelly01 {
    position: absolute;
    right: 6%;
    top: 8%;
}

.RRRRR {
    position: absolute;
    right: 23%;
    top: 33%;
}

.onlinestore {
    position: absolute;
    left: 3%;
    bottom: 15%;
}

.arrow {
    position: absolute;
    left: 28%;
    bottom: 40%;
    animation: zoom-in 1s infinite alternate;
}

@keyframes zoom-in {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

.fufu01 {
    position: absolute;
    right: 4%;
    bottom: 35%;
}

.octopus {
    position: absolute;
    left: 0;
    bottom: 0;
}

.zumb {
    position: absolute;
    left: 25%;
    bottom: 12%;
}

.heart {
    position: absolute;
    left: 42%;
    bottom: 26%;
    animation: slide-up-right 1.5s infinite;
}

@keyframes slide-up-right {
	from {
		transform: translate(0, 0);
	}
	to {
		transform: translate(40px, -70px);
	}
}

.contact {
    position: absolute;
    right: 4%;
    bottom: 12%;
}

.text-box2 {
    position: absolute;
    left: 37%;
    top: 18%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    font-size: 23px;
}

.text-box3 {
    position: absolute;
    right: 12%;
    bottom: 3%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    font-size: 23px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.text2 {
    margin-top: 10%;
}

@media (max-width: 768px) {
    .logo {
        width: 100px;
        position: absolute;
        top: 4%;
    }

    .gua {
        margin-top: 40%;
        width: 250px;
        margin-left: 18%;
    }

    .ufo {
        position: absolute;
        width: 90px;
        left: 7%;
        bottom: 25%; 
    }   

    .pet {
        position: absolute;
        width: 80px;
        left: 5%;
        top: 35%;
    }  

    .tea {
        position: absolute;
        width: 50px;
        right: 8%;
        bottom: 25%;
    }   

    .h2 {
        font-size: x-small;
        position: absolute;
        left: 21%;
        bottom: 15%;
    }

    .h3 {
        display: none;
    }

    .h4 {
        display: none;
    }
    
    .star {
        position: absolute;
        width: 20px;
        left: 28%;
        top: 22%;        
    }

    .star2 {
        position: absolute;
        width: 20px;
        left: 22%;
        top: 25%; 
    }

    .bubble2 {
        position: absolute;
        width: 15px;
        right: 10%;
        top: 38%;
    }

    .bubble {
        position: absolute;
        width: 15px;
        right: 7%;
        top: 35%;
    }

    .bg-3 {
        display: none;
    }
    
    .bg3-1 {
        display: none;
    }
    
    .bg3-2 {
        display: none;
    }
    
    .bg-4 {
        display: none;
    }
    
    .other {
        position: absolute;
        width: 200px;
        left: 22%;
        top: 2.5%;
    }

    .ch1 {
        font-size: small;
        width: 150px;
    }

    .ch2 {
        font-size: small;
        margin-right: 10%;
    }

    .ch3 {
        font-size: small;
        margin-left: 30%;
        width: 170px;
    }

    .ch4 {
        font-size: small;
        width: 150px;
    }
    
    .ch5 {
        font-size: small;
        margin-right: 10%;
    }

    .ch6 {
        font-size: small;
        margin-left: 30%;
        width: 170px;
    }

    .row-2 {
        display: none;
    }

    .row-3 {
        height: 80px;
    }

    .row-4 {
        display: none;
    }

    .artwork1 {
        position: absolute;
        width: 300px;
        top: 15%;
        left: 10%;
    }

    .pic {
        width: 400px;
    }

    .light {
        position: absolute;
        width: 40px;
        top: 5%;
        left: 10%;
    }

    .profile {
        position: absolute;
        width: 250px;
        top: 8%;
        left: 22%;
    }
    
    .bg-5 {
        display: none;
    }
    
    .bg5-1 {
        display: none;
    }
    
    .bg-6 {
        display: none;
    }

    .bg-7 {
        background-color: #EBBD3D;
        height: 300px;
    }
    
    .gua01 {
        position: absolute;
        left: 0;
        top: 17%;
        width: 80px;
    }
    
    .jelly01 {
        position: absolute;
        right: 2%;
        top: 23%;
        width: 70px;
    }
    
    .RRRRR {
        position: absolute;
        right: 25%;
        top: 34%;
        width: 95px;
    }
    
    .onlinestore {
        position: absolute;
        left: 6%;
        bottom: 32%;
        width: 160px;
    }

    .arrow {
        display: none;
    }
    
    .fufu01 {
        position: absolute;
        right: 0;
        bottom: 38%;
        width: 150px;
    }
    
    .octopus {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100px;
        display: none;
    }
    
    .zumb {
        position: absolute;
        left: 6%;
        bottom: 25%;
        width: 90px;
    }

    .heart {
        position: absolute;
        left: 25%;
        bottom: 35%;
        width: 25px;
        animation: slide-up-right 1.5s infinite;
    }
    
    @keyframes slide-up-right {
        from {
            transform: translate(0, 0);
        }
        to {
            transform: translate(15px, -10px);
        }
    }
    
    .contact {
        position: absolute;
        right: 4%;
        bottom: 20%;
        width: 250px;
    }
    
    .text-box2 {
        position: absolute;
        left: 22%;
        top: 18%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 12px;
    }
    
    .text-box3 {
        position: absolute;
        right: 8%;
        bottom: 0;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        letter-spacing: 2px;
        font-size: 15px;
        font-weight: bold;
        color: rgb(255, 255, 255);
    }
    
    .text2 {
        margin-bottom: 1%;
        margin-top: 5%;
    }


  }
  
